button{
    cursor: pointer;
}
.dlp-cart {
    padding: 32px;
    color: #FFF;
    background-color: #31b572;
}

.dlp-cart-add-button {
    margin-left: 32px;
    cursor: pointer;
}

.dlp-cart-toggle-button {
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    align-self: self-start;
    color: white;
    border-radius: 20px 20px 20px 0;
    background-color: #01803c;
    padding: 10px;
}

.dlp-empty-cart {
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    align-self: self-start;
    color: white;
    border-radius: 20px;
    background-color: #6f1515;
    padding: 10px;

}

.dlp-cart-closed {
    padding: 32px;
    width: 200px;
}

.dlp-cart-closed > button {
    color: black;
}
